*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    
}

.font{
    color: #fff;
}

body {
/*   background: linear-gradient(45deg, rgb(19, 73, 95), rgb(118, 75, 226), rgb(131, 115, 198), rgb(119, 211, 185));*/
    background-image: linear-gradient(135deg,#162944,#2F1847,#624763);
/*    background-color: #2F1847;*/
   background-attachment: fixed;
   height:100vh;
   padding: 3rem 0;
   margin: 0;
   
      size: 14px;
    
   }

/*---------------BUTTONS----------------------*/

.button_slide {
    margin: .5rem;
  color: #D80286;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}


.slide_right:active {
  box-shadow: inset 400px 0 0 0 #D80286;
}

button{
    padding: 0.8rem;
    font-size: 1.5rem;
    border: none;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
    border-radius: 3rem;
    margin: .5rem;
    color: #D80286;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{ 
    background: #ffe1a8;
    color: #fff;
}


.dark button{
    padding: 0.8rem;
    font-size: 1.5rem;
    border: none;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
    border-radius: 3rem;
    margin: .5rem;
    color: #8C2F39;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark button:hover{ 
    background: #ffe1a8;
    color: #fff;
}