*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.recipePage{
    color: white;
    min-height: 100vh;
    background-color: #FFBF69;
/*    padding: 5%;*/
}

.top{
    display: flex;
}

/*PAGE IN 4 PARTS*/
.partA{
    width: 25%;
    background-image: linear-gradient(180deg,#FF9F1C,#B23A48);
}
.partB{
    width: 25%;
    background-image: linear-gradient(180deg,#FFBF69,#B23A48);
}
.partC{
    width: 25%;
    background-image: linear-gradient(180deg,#CBF3F0,#B23A48);
}
.partD{
    width: 25%;
    background-image: linear-gradient(180deg,#2EC4B6,#B23A48);
}

/*RECIPES*/

.recipe-container{
    display: flex;
    text-align: left;
    color: #8C2F39;
    width: 40%;
    flex: 1;
}

.recipe-directions-main, .recipe-directions-side, .recipe-directions-sweet{
    list-style: disc;
}

.recipe{
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
}


/*3-PART MEAL SELECTOR*/
.selector-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1.5;
}

.threeMeal{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.threeMeal button{
    padding: 0.8rem;
    font-size: 1.5rem;
    border: none;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
    border-radius: 3rem;
    margin: .5rem;
    color: #8C2F39;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.threeMeal button:hover{ 
    background: #8C2F39;
    color: #fff;
}

/*GROCERY LIST*/

.grocery-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.grocery-list{
    min-width: 30%;
    list-style: none;
}

.grocery{
    margin: 0.5rem;
    background: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.grocery li{
    flex: 1;
}

.grocery-item{
    padding: 0.4rem;
}

.recipe-cards{
    justify-content: center;
    align-content: center;
    display: flex;
}

.recipe-cards img{
    height: auto;
    width: 25vw;
    padding: 1rem;
}

.card {
    color: black;
    margin: 1rem;
}

@media screen and (max-width:768px)
{
    .threeMeal{
    flex-direction: column;
}
    .top{
        flex-direction: column;
    }
    .recipe-cards{
        align-content: center;
        justify-content: center;
    }
    
    .card{
        width: 100vw;
        margin: 0;
    }
    
    .card img{
        width: 50vw;
        
        
    }
    
    .grocery-container{
        
    }
}