

h1, h2{
    padding: 1rem 4rem;
}


.threeMeal{
/*
    display: flex;
    flex-wrap: wrap;
*/
    justify-content: center;
    text-align: center;
/*    min-width: 100vw;*/
    height: auto;
    flex-direction: row;
}

.recipeButtons{
    z-index: 2;
    position: absolute;
    top: 0vh;
}

button{
    font-size: 2rem;
}

.card{
    border-style: none;
    border-color: transparent;
}

.fourthimg{
    z-index: 0;
    height: 100vh;
    width: 25vw;
    object-position: 0 0;
    object-fit: cover;
    image-resolution: snap;
}

/*GROCERY LIST*/

.grocery-container{
    display: flex;
    flex-direction: column;
/*
    justify-content: center;
    text-align: center;
*/
    
}

.grocery-list{
    width: 100vw;
    list-style: none;
}

.grocery{
    margin: 0.5rem;
    background: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

ul {
    list-style-type: "o";
}


@media screen and (max-width:980px){
    *{
        font-size: 1.3rem;
    }
    
    body{
        overflow-x: hidden;
    }
    
    .fourthimg{
        height: 30vh;
        width: 100vw;
        object-position: 0 0;
        object-fit: cover;
        border-radius: 5rem;
        padding: 1rem;
    }
    
    .recipeButtons{
        top: 0;
        right: 0;
    }
    
    .breakfast{
        width: 70vw;
    }

    .grocery-container{
        
    }
}