*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*TODO LIST*/

.todoList{
    background-image: linear-gradient(120deg,#335145,#B1DECA);
    color: white;
    min-height: 100vh;
}

header,form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: auto;
    text-align: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3rem;
    
}