*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



/*CLOCK*/
.clock {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 7px;

}

/*TODO LIST*/

.bubble{
   background-color: #2F1847;
    color: white;
/*    min-width: 30vh;*/
    padding: 5%;
/*   z-index: 1; */
   position: relative;
   width: 45vw;
   min-height: 20%;
   margin: 1rem auto;
   border-radius: 10px;
   box-shadow: 0px 10px 30px -10px #000;

}

.display{
    display: flex;
}

.todo-container{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: #fff;
    color: #D80286;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.todo-item{
    padding: 0.4rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

header,form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: auto;
    text-align: center;
}

form input, form button, .todo-list button, .btn{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
}


form input{
    border-radius: 3rem 0rem 0rem 3rem;
}

form button, .todo-list button{
    color: #D80286;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button{
    border-radius: 0rem 3rem 3rem 0rem;
}

form button:hover, .todo-list button:hover{ 
    background: #2F1847;
    color: #D80286;
}



select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    flex: 1;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #335145;
    width: 3rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #D80286;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: #fff;
    color: #D80286;
}


*, *:before, *:after {
   box-sizing: inherit;
}

* {
   outline: 0;
}

.container {
   width: 90%;
   margin: auto;
}

.mobile-wrapper {
   background: #fff;
   /* relative with .today-box::before*/
   z-index: 1; 
   position: relative;
   width: 80vw;
   min-height: 100%;
   margin: 1rem auto;
   padding: 10px 0 20px;
   border-radius: 10px;
   box-shadow: 0px 10px 30px -10px #000;
   overflow: hidden;

}



.hea {
   padding-bottom: 15px;
   margin-bottom: 40px;  
      }
      &::before {
         content: "";
         display: block;
         width: 0;
         height: 0;
         border: 6px solid transparent;
         border-left-color: #e8e8e8;
         position: absolute;
         bottom: -13px;
         right: 0px;
      }
      &::after {
         content: "";
         display: block;
         width: calc(100% - 10px);
         height: 2px;
         background-color: #e8e8e8;
         position: relative;
         top: 8px;
      }
   }
}

.today-box {
   background: #624763;
   color: #FFF;
   padding: 37px 40px;
   position: relative;
   box-shadow: 0px 0px 40px -9px #485fed;
   margin-bottom: 50px;
   &::before {
      content: "";
      background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #624763;
      opacity: 0.4;
      z-index: -1;
      display: block;
      width: 100%;
      height: 40px;
      margin: auto;
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
      box-shadow: 0px 0px 40px 0 #485fed; 
   }
   }
   .date-title {
      font-size: 20px;
      margin: 7px 0 0 0;
      letter-spacing: 1px;
      font-weight: 600;
      text-shadow: 0px 0px 5px  rgba(#000, 0.15);

   }
}




.icon-in-active-mode {
   color: #43ff28;
   font-size: 20px !important;
}

.upcoming {
   font-weight: bold;
   color: #777

}





@media screen and (max-width:900px){
    
    .bubble, .mobile-wrapper{
       width: 80vw;

    }
    
    .todo-input{
        width: 60vw;
    }
    
    .display{
        display: block;
    }
    
}